@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "LazyDog";
  src: url("./assets/fonts/Lazydog.otf") format("truetype");
}

@font-face {
  font-family: "Aurelia Emiko";
  src: url("./assets/fonts/AureliaEmiko.otf") format("truetype");
}

@utility font-lazyDog {
  font-family: "LazyDog", sans-serif;
}

@utility font-sora {
  font-family: "Sora", sans-serif;
}

@utility font-aureliaEmiko {
  font-family: "Aurelia Emiko", sans-serif;
}

body {
  overflow: hidden;
  @apply font-lazyDog bg-[#f9f2e9] text-[#232428];
}

@layer components {
  .page-wrapper {
    @apply w-screen h-screen flex items-center justify-center overflow-hidden relative;
  }

  .content-wrapper {
    @apply flex items-center justify-center px-40 h-full;

    .content-section {
      @apply flex flex-col gap-4 relative;

      .title {
        p {
          @apply text-2xl opacity-70 mb-2;
        }

        h1 {
          @apply text-7xl font-black leading-none;
        }
      }

      .desc {
        @apply text-2xl leading-relaxed opacity-80;
      }
    }
  }

  .transparent-card {
    @apply p-6;

    p {
      @apply text-lg opacity-60;
    }

    h3 {
      @apply text-2xl font-bold mt-2;
    }
  }

  .card-wrapper {
    @apply border-[3px] border-black rounded-[2.5rem] bg-white p-6 shadow-[8px_8px_0px_#000];
  }

  .cards-container {
    @apply grid grid-cols-2 gap-4;
  }

  .small-pill-wrapper {
    @apply border-[3px] border-black px-6 py-1 rounded-full -rotate-6 shadow-[5px_5px_0px_#000];
    @apply text-xl font-bold font-black;
  }
}
