@import "tailwindcss";

@font-face {
  font-family: "LazyDog";
  src: url("./assets/fonts/Lazydog.otf") format("truetype");
}

@font-face {
  font-family: "Sniglet";
  src: url("./assets/fonts/Sniglet.ttf") format("truetype");
}

@utility font-lazyDog {
  font-family: "LazyDog", sans-serif;
}

@utility font-sniglet {
  font-family: "Sniglet", sans-serif;
  font-weight: 600;
}

body {
  background: #000;
}

::selection {
  background-color: #bdb29680;
  cursor: text;
}

.slides-wrapper {
  overflow: hidden;
  @apply will-change-transform backface-hidden;
  @apply font-lazyDog bg-[#f9f2e9] text-[#232428];
  @apply bg-[radial-gradient(#00000010_2px,transparent_1px)] bg-[size:16px_16px];
}

@layer components {
  .page-wrapper {
    @apply w-full h-full flex items-center justify-center overflow-hidden relative;
  }

  .content-wrapper {
    @apply flex items-center justify-center px-40 h-full;

    .content-section {
      @apply flex flex-col gap-4 relative;

      .title {
        p {
          @apply text-2xl opacity-70 mb-2;
        }

        h1 {
          @apply text-7xl font-black leading-none;
        }
      }

      .desc {
        @apply text-2xl leading-relaxed opacity-60 tracking-wider font-sniglet;
      }
    }
  }

  .transparent-card {
    @apply p-6;

    p {
      @apply text-lg opacity-60 font-sniglet tracking-widest;
    }

    h3 {
      @apply text-2xl font-bold mt-2;
    }
  }

  .card-wrapper {
    @apply border-[3px] border-black rounded-[2.5rem] bg-white p-6 shadow-[8px_8px_0px_#000];
  }

  .cards-container {
    @apply grid grid-cols-2 gap-4;
  }

  .small-pill-wrapper {
    @apply border-[3px] border-black px-6 py-1 rounded-full -rotate-6 shadow-[5px_5px_0px_#000];
    @apply text-xl font-bold font-black;
  }

  .bookmark-tabs {
    @apply relative bg-pink-400 text-white pr-10 pl-4 py-2 h-10 font-bold tracking-widest;
    clip-path: polygon(0 0, 90% 0, 82% 50%, 90% 100%, 0 100%);
  }
}
